<!-- data binding -->
<h2>Hola mi nombre es {{name}}</h2> 
<button (click)="welcome()"> Hola </button>
<app-title></app-title>

<!-- Comunicación entre componentes -->
<!-- Input
Output -->
<!-- <my-item [phones]="phoneList" (added)="add($event)" (removed)="remove($event)" ></my-item> -->
<my-item [phones]="phoneList" (selected)="recieveData($event)"></my-item>


<p>Mi telefono seleccionado es {{phone}} - {{count}}</p>

<!-- Ejercicio -->
<!-- Crear proyecto nuevo que llame ShoppingCart
Listado de productos con dos botones (-) (+)
Click a un elemento

Tu producto seleccionado es: Nombre del producto
Cantidad: 0

alert(debes agregar al menos un elemento) -->



